*{
    margin:0px;
}

.navbar{
    display: flex;
    justify-content: center; /* Esto asegura que el logo esté centrado dentro de la barra de navegación */
    align-items: center;
    position: relative;
    
    
}
.navbar a{
    margin-left: 1rem;
    text-decoration: none;
    
}

.navbar-right{
    display: flex;
    align-items: center;
    position: absolute; /* Posicionamos la sección derecha */
    right: 0;
  
}
.left{
    display: flex;
    align-items: center;
    position: absolute; /* Posicionamos la sección izquierda */
    left: 0;
}
    

#logito{
 
  width: 150px;
  height: 50px;
 
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .nav-left img, .navbar-right img {
    margin-right: 8px; }